* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

.container {
  width: 90%;
  margin: 50px auto;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.not-found {
  margin: 150px auto;
  width: 200px;
  text-align: center;
  font-family: 'Oleo Script', cursive;
}

.not-found h1 {
  font-size: 100px;
}

.not-found span:link {
  color: red !important;
}

.nested {
  margin-bottom: 10px;
}

.error {
  padding: 20px;
  margin: 20% auto;
  /* width: 30%; */
  text-align: center;
}

.error h3 {
  
}